#logo {
  margin-right: 8px;
}

[data-bs-theme="dark"] {
  body {
    background-color: black;
  }

  header,
  footer {
    background-color: var(--bs-body-bg);
  }
}

form.icons div.dropdown {
  display: none;
}
